

@tailwind base;
@tailwind components;
@tailwind utilities;


.text-yanone {
 
}

.slide-item {
  flex: 0 0 100%;
}

.slider-product-item {
  flex: 0 0 calc((100%/3 - 1rem));
}

.product_details_item {
  flex: 0 0 calc(50% - 1rem);
}